@model IEnumerable<HC_QLDatVeXemPhim.Entities.Phim>

@{
    ViewData["Title"] = "Danh sách phim";
}

<h1>Danh sách phim</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiLuong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhim">Cập nhật</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhim">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhim">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
