@model HC_QLDatVeXemPhim.Entities.LichChieuPhim

@{
    ViewData["Title"] = "Xóa";
}

    <h1>Xóa</h1>

    <h3>Bạn có chắc chắn muốn xóa cái này không?</h3>
<div>
    <h4>Lịch chiếu phim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rap.TenRap)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phim.TenPhim)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianChieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianChieu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLichChieuPhim" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
