@model IEnumerable<HC_QLDatVeXemPhim.Entities.LichChieuPhim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianChieu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rap.MaRap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phim.TenPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianChieu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLichChieuPhim">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLichChieuPhim">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLichChieuPhim">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
